.places{
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}
.places h1{
	
	font-size: 30px;
	text-align: left;
	padding: 15px;
	flex-basis: 90%;

}
.places article{
	width: 390px;
	padding: 20px;
    margin:20px;
	border-radius: 4px;
	display: flex;
	border:1px solid red;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
    flex-direction: row;
	align-content: space-between;


}
.places article h2{
	font-size: 30px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-left: 30px;
}
.price_by_night{
	color: #FF5A5F;
	border:4px solid #FF5A5F;
	border-radius: 50%;
	max-width: 80px;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
}
.information{
	width: 100%;
	height: 80px;
	border:1px solid #DDDDDD;
	border-left: none;
	border-right: none;
	display: flex;
	float: left;
	flex-flow: row nowrap;
	font-size: 12px;
	


}
.max_guest,.number_rooms,.number_bathrooms{
	width: 100px;
	background-repeat: no-repeat;
	background-position: center top;
	margin: 4px auto;
	text-align: center;
	line-height: 9em;
}
.max_guest{
	background-image: url(../images/icon_group.png);

}
.number_bathrooms{
	background-image:url(../images/icon_bath.png);

}
.number_rooms{
	background-image: url(../images/icon_bed.png);
}
.user,.description{
	font-size: 14px;
	margin: 2px 0px;
}
.places article div.amenities,{
	width: 100%
	margin-top: 40px;
	text-align: left;
	display: flex;
	flex-direction: column;
	
}
.places .reviews {
    margin-top: 40px;
    text-align: left;
    list-style-type: none;
    width: 100%;
}
.places article div.amenities h2{
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	text-align: left;
	padding-bottom: 10px;
	width: 100%;
}
.places article div.amenities ul {
	
	font-size: 12px;
	padding-top: 20px;
	
}
.places div.amenities li{
	display: flex;
	text-align: justify;
}
.places article div.reviews h2{
	font-size: 16px;
	border-bottom: #DDDDDD;
	text-align: left;
	padding-bottom: 10px;
	width: 100%;
}
.places article div.reviews ul {
	list-style: none;
	padding-top: 20px;
}
.places div.reviews li{
	display: flex;
	text-align: justify;
}

.places article div.reviews ul li p{
	font-size: 12px;
}
.Tv{
	background-image: url(../images/icon_tv.png);
	width: 50px;
	height: 50px;
}
.Wifi{
	background-image: url(../images/icon_wifi.png);
	width: 50px;
	height: 50px;
}
.pets{
	background-image: url(../images/icon_pets.png);
	width: 50px;
	height: 50px;
}
.places .amenities li p {
    padding: 20px;
}
.places .reviews h3 {
    font-size: 14px;
    text-align: left;
    margin: 10px auto;
}